body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1418px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:1386px;
  height:78px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1418px;
  height:283px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:921px;
  width:1418px;
  height:283px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:666px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:285px;
  width:1030px;
  height:666px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
