body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1418px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:1386px;
  height:78px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1418px;
  height:283px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:921px;
  width:1418px;
  height:283px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1115px;
  height:422px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:334px;
  width:1115px;
  height:422px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
