body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1418px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1418px;
  height:283px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:740px;
  width:1418px;
  height:283px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:197px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:1386px;
  height:78px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:78px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#FFFFFF;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:197px;
  width:127px;
  height:78px;
  font-size:25px;
  color:#FFFFFF;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:123px;
  word-wrap:break-word;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1386px;
  height:605px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:1386px;
  height:605px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
