.loginbox{
    display: flex;	   
    flex-flow: column;
    justify-content:center;	    
    align-items: center;	    
    height: 800px;	  
    background-image: url(../assets/Login.svg);
    background-repeat:no-repeat; 
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}	
.login{	
    width: 367px;	   
    height: 317px;	 
}	
.loginbutton{
    margin-top:20px;	  
    width: 100%;	   
}
.title{
    font-style:italic;
    font-weight:600;
    color: #444;
    position: relative;
    left: 16px;
    margin-bottom: 25px;
    font-size: 40px;
    letter-spacing: 30px;
}
 .footer{
    position: absolute;
    bottom: 0;
} 